
[Unit]
Description=hwmoniter service
After=mosquitto.service

[Service]
Type=simple
ExecStart=/usr/bin/HardwareMoniter
Restart=always
[Install]
WantedBy=multi-user.target
