
[Unit]
Description=cfucion service
After=ifupdown.service

[Service]
Type=simple
ExecStart=/usr/bin/CFusion
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
