[Unit]
Description=set iptables for camera
After=network.target
Wants=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/network/en_ipforward.sh

[Install]
RequiredBy=network-online.target
