
[Unit]
Description=SmartRoadEM service
After=sc_radar_em.service

[Service]
Type=simple
ExecStart=/usr/bin/SmartRoadEM
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
