[Unit]
Description=sc_radar_em service
After=cannet2ecal.service

[Service]
Type=simple
ExecStart=/usr/bin/sc_em_rt -f /etc/sc_radar_em/Changsha.rtx
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
